#video_player {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.fleex.player .details-player{
  font-size: 10px;
}
.fleex.player .details-player span, .fleex.player .details-player i {
  text-shadow: 0px 0px 10px black;
}
.fleex.player .fa:hover {
  color: white;
}
.fleex.player .player-header-background {
  background: none !important;
  height: 55px !important;
  z-index: 11;
}
#player,
.fleex.player {
  width: 100%;
  height: 100%;
}
.fleex.player {
  z-index: 12;
  position: absolute;
  overflow: hidden;
  background-color: #000;
}
.fleex.player video {
  width: 100%;
  height: 100%;
}
.player-header-background {
  background: none !important;
  height: 55px !important;
}
.player-header-background .player-title {
  text-shadow: 0 0 5px black;
}